<!-- Timur Uzakov -->

<!-- to launch in the terminal -->
<!-- roslaunch blob_detector_new formation.launch x:="-5" y:="0" z:="0" -->

<launch>
  <arg name="x"/>
  <arg name="y"/>
  <arg name="z"/>
  <node
    pkg="blob_detector_new"
    type="publisher"
    name="camera_node"
    output="screen"
    args="0"
  />
  <node
    pkg="blob_detector_new"
    type="detector_node"
    name="detector_node" 
    output="screen"
  />
   <node
    pkg="orb_detector"
    type="orb_detector"
    name="orb_detector_node" 
    output="screen"
  />
   <node
    pkg="motion_controller"
    type="motion_controller"
    name="motion_controller_node"
    output="screen"
    args="$(arg x) $(arg y) $(arg z)"
  />
  
</launch> 
